# Task execution
# Need to pin to 0.21.x if supporting Py26
invoke==0.21.0

# Soft dependencies
python-dateutil
pytz

# Distribution
wheel
twine

# Testing
pytest==3.0.2
tox>=1.5.0
simplejson

# Syntax checking
flake8==2.4.1
