# Task execution
invoke

# Soft dependencies
python-dateutil
pytz

# Distribution
wheel

# Testing
# Need development version of pytest for py35 compat
# https://github.com/pytest-dev/pytest/issues/744
git+https://github.com/pytest-dev/pytest.git
tox>=1.5.0

# Syntax checking
flake8==2.4.1
