# Task execution
invoke

# Soft dependencies
python-dateutil
pytz

# Distribution
wheel

# Testing
pytest>=2.6.3
pytest-xdist  # for test watching
tox>=1.5.0
flake8>=2.2.2

# Docs
-r docs/requirements.txt
