#version-warning-banner {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 4px;

  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  text-align: center;
  font-size: 0.9em;

  background: #004b6b repeating-linear-gradient(
    135deg,
    transparent,
    transparent 56px,
    rgba(255, 255, 255, 0.2) 56px,
    rgba(255, 255, 255, 0.2) 112px
  );
}

#version-warning-banner .admonition-title {
  font-size: inherit;
  font-weight: bold;
}

#version-warning-banner a {
  color: #fff;
  border-color: #fff;
}

#version-warning-banner p {
  display: inline;
}

div.warning {
  border: 0;
}
